body {
  background-image: url("/images/background-image.png");
  background-size: cover;
  height: auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  color: white;
}

h1 {
  font-size: 68px;
  font-family: "Rock Salt", cursive;
}

h2 {
  font-size: 36px;
  font-family: "Rock Salt", cursive;
  margin-top: 100px;
}

p {
  font-family: "Comic Neue", cursive;
  font-weight: 600;
  margin-top: 50px;
}

footer {
  font-size: 11px;
  font-family: "Share Tech Mono", monospace;
}

.brief-info {
  font-size: 25px;
  font-family: "Schoolbell", cursive;
}

.homepage-titles {
  font-family: "Rock Salt", cursive;
  font-size: 20px;
  margin-top: 100px;
}

.book-suggestions {
  list-style: none;
}

.books {
  font-family: "Comic Neue", cursive;
  font-weight: 600;
  margin-top: 15px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 45px;
  }
  h2 {
    font-size: 27px;
  }
  p {
    font-size: 14px;
  }
  .brief-info {
    font-size: 20px;
    margin-bottom: 50px;
  }
  .homepage-titles {
    font-size: 17px;
    margin-top: 30px;
  }
  .books {
    font-size: 14px;
  }
}
