body {
  background-image: url("/images/background-image.png");
  background-size: cover;
  height: auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  color: white;
}

h1 {
  font-size: 68px;
  font-family: "Rock Salt", cursive;
}

h2 {
  font-size: 36px;
  font-family: "Rock Salt", cursive;
  margin-top: 100px;
}

p {
  font-family: "Comic Neue", cursive;
  font-weight: 600;
  margin-top: 20px;
}

footer {
  font-size: 11px;
  font-family: "Share Tech Mono", monospace;
}

.brief-info {
  font-size: 25px;
  font-family: "Schoolbell", cursive;
}

.homepage-titles {
  font-family: "Rock Salt", cursive;
  font-size: 20px;
  margin-top: 70px;
}

.quote {
  text-transform: capitalize;
}

.author {
  font-family: "Comic Neue", cursive;
  font-style: italic;
}

.book-suggestions {
  list-style: none;
}

.books {
  font-family: "Comic Neue", cursive;
  font-weight: 600;
  margin-top: 15px;
}

.contact-heading {
  font-family: "Rock Salt", cursive;
  margin-top: 130px;
  font-size: 60px;
}

.contact-title {
  font-family: "Schoolbell", cursive;
  margin-top: 50px;
  font-size: 35px;
}

.contact-list {
  margin-top: 60px;
  list-style: none;
}

.contact-option {
  padding: 20px 10px;
  font-family: "Comic Neue", cursive;
  font-weight: 600;
  font-size: 20px;
}

.contact-link {
  text-decoration: none;
  font-weight: 900;
}

@media (max-width: 768px) {
  h1 {
    font-size: 45px;
  }
  h2 {
    font-size: 27px;
  }
  p {
    font-size: 14px;
  }
  .brief-info {
    font-size: 20px;
    margin-bottom: 50px;
  }
  .homepage-titles {
    font-size: 17px;
    margin-top: 30px;
  }
  .author {
    font-size: 14px;
    font-weight: 600;
  }
  .books {
    font-size: 14px;
  }
  .contact-heading {
    font-size: 40px;
  }
  .contact-title {
    font-size: 25px;
  }
  .contact-option {
    font-size: 16px;
  }
}
